[sfdc]
name=Alex Woolford
email=me@domain.com
password=password321!
token=gdbshGhSKbfsbaugjsuHjsh2

[mysql]
host=localhost
username=sfdc_ticket_monitor
password=password321!
dbname=sfdc_ticket_monitor
port=3306

[sendgrid]
apikey=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
from=me@domain.com
to=me@domain.com
